


#main #offers .container-fluid .search {
    display: flex;
    background: #F3FFFC;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 5% 15%;

}

#main #offers .container-fluid .search .search-field {
    width: 100%;
    border: 1px solid #004F44;
    color: #004F44;
    background: #FFFFFF;
    /*margin: 0 15%;*/
    padding: 15px 2%;
}
#main #offers .container-fluid .search .search-field::-webkit-input-placeholder {
    color: #004F44;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


#main #offers .container-fluid .search .search-field:focus {
    outline: none;
}

#main #offers .container-fluid .search .search-btn {
    padding: 15px;
    background: #004F44;
}