@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body {
    height: 100%;

    font-family: 'Poppins';
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    background: #004F44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#header .navigations nav .top-menu {
    margin: 2% 0;
}

#header .navigations nav .top-menu li {
    display: inline-block;
    padding: 0 20px;
}

#header .navigations nav .top-menu li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

#header .tools .search_icon {
    cursor: pointer;
}

#main {
    flex: 1 1 auto;
    background: #004F44;
}

#main #cover .inner_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main #cover .inner_content .shop_landing {
    width: 50%;
}

#main #cover .inner_content .novelties {
    width: 50%;
}
#footer {
    background: aqua;
}